@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Albert Sans", sans-serif;
}

.imagenMas {
    width: 13px;
    display: block;
}

.grupo {
    padding-left: 3rem !important;
    padding-right: 3rem !important;
}

.boton-agregar {
    background-color: #6c757d; 
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    font-weight: 500;
    font-size: 1rem;
    display: flex;
    align-items: center;
    gap: 8px;
    transition: background-color 0.3s;
}

.boton-agregar:hover {
    background-color: #5a6268; 
}

.table td, .table th {
    border: 1px solid #dee2e6;
    vertical-align: middle;
}

.table th {
    background-color: #f2f2f2; 
    text-align: center;
    font-weight: bold;
    color: #343a40; 
    padding: 10px 8px;
}

.table td {
    padding: 10px 8px;
    text-align: center;
    color: #343a40;
}

.table td:first-child {
    width: 50px;
}

.table td:nth-child(3) {
    text-align: left;
    padding-left: 15px;
}

.table .Boton {
    padding: 5px 8px;
    font-size: 0.8rem;
    border-radius: 4px;
    min-width: 55px; 
    border: 1px solid transparent;
}

.table .Boton:nth-child(1) { 
    background-color: transparent;
    color: #343a40; 
}

.table .Boton:nth-child(2) { 
    background-color: transparent;
    color: #343a40; 
}

.table .Boton[texto="Modificar"] {
    margin-right: 5px;
}

.row.container-fluid:nth-child(3) { 
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.row.container-fluid:nth-child(3) .Boton {
    width: 100%;
    background-color: #6c757d; 
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    font-weight: 500;
    transition: background-color 0.3s;
    text-align: center;
}

.row.container-fluid:nth-child(3) .Boton:hover {
    background-color: #5a6268;
}

.pagination .page-link {
    color: #ff752d; 
    border: 1px solid #dee2e6;
}

.pagination .page-item:not(.active) .page-link:hover {
    background-color: #ffe8d6; 
    color: #ff752d;
    border-color: #ff752d;
}

.pagination .page-item.active .page-link {
    background-color: #ff752d; 
    color: white;
    border-color: #ff752d;
    z-index: 1; 
}

.pagination .page-item .page-link {
    color: #6c757d; 
}

.pagination .page-item.disabled .page-link {
    color: #adb5bd; 
}

.form-check-input:checked {
    background-color: #ff7a00 !important; 
    border-color: #ff7a00 !important;
}

/* Cambiar el "halo" o focus */
.form-check-input:focus {
    border-color: #ff7a00 !important;
    box-shadow: 0 0 0 0.2rem rgba(255, 122, 0, 0.25) !important;
}