@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.boton {
    font-family: "Albert Sans", sans-serif;
    background-color: #7B7B7B;
    border-color: #7B7B7B;
    display: flex;
    align-items: center;
    gap: 8px;
}

.boton.btn-primary:hover {
    background-color: #b7b7b7;
    border-color: #b7b7b7;
}

.boton.btn-primary:hover {
    color: #fff;
}