@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');

.titulo {
    font-family: "Anta", sans-serif;
}

.imagen-logo {
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagen {
    justify-content: center;
}

.login-container {
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.boton-iniciar-sesion {
    background-color: #2C2C2C;
}