@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Albert Sans", sans-serif;
}

.imagenMas {
    width: 13px;
    display: block;
}

.personal-titulo {
    margin-left: 50px;
}

.nombre-grupo-seleccionado {
    margin-left: 50px;
    color: #F37F32;
}